.App {
    text-align: center;
}

.Container {
    margin-left: 15px;
}

.Header {
    text-align: center;
    background-color:#616161;
    color: white;
    margin-top: -29px;
    font-size: 30px;
    padding-top: 1px;
}

.Table {
    width: 70%;
    text-align: left;
}

.Btn {
    border: none;
    padding: 9px 33.5px 11px 25.5px;
    position: relative;
    color: white;
}

.Red {
    background-color: #C70039;
}

.Green {
    background-color: green;
}

.Link {
    border: none;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.Body{
    margin-top: 20px;
}

.Input{
    height: 30px;
    width: 21%;
}